<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianbi.mapper.PowerMapper">
    <select id="selectoptions" resultType="com.lianbi.entity.Power">
         SELECT
            OptionsID,
            OptionsName,
            OptionsPid,
            OptionsSrc,
            OptionCreatePer,
            OptionUpdatePer,
            OptionCreateDate,
            OptionUpdateDate
            from options
    </select>

    <select id="selectpower" resultType="com.lianbi.entity.Power">
         SELECT
            OptionsID,
            OptionsName,
            OptionsPid,
            OptionsSrc,
            OptionCreatePer,
            OptionUpdatePer,
            OptionCreateDate,
            OptionUpdateDate,
            (select OptionsName from options s where o.OptionsPid=s.OptionsID) ParentName
            from options o where 1=1
    </select>

    <select id="selectPowerById" parameterType="java.util.Map" resultType="com.lianbi.entity.Power">
        select * from options where OptionsID=#{optionsID}
    </select>

    <select id="selectParentPower" parameterType="java.util.Map" resultType="com.lianbi.entity.Power">
        select * from options where OptionsPid=0;
    </select>
</mapper>