<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianbi.mapper.PowerMapper">
    <select id="selectoptions" resultType="com.lianbi.entity.Power">
         SELECT
            OptionsID,
            OptionsName,
            OptionsPid,
            OptionsSrc,
            OptionCreatePer,
            OptionUpdatePer,
            OptionCreateDate,
            OptionUpdateDate
            from options
    </select>

    <select id="selectpower" resultType="com.lianbi.entity.Power" parameterType="java.util.Map">
        SELECT
        OptionsID,
        OptionsName,
        OptionsPid,
        ParentName,
        OptionsSrc,
        OptionCreatePer,
        OptionUpdatePer,
        OptionCreateDate,
        OptionUpdateDate,
        (select OptionsName from options s where o.OptionsPid=s.OptionsID) ParentName
        from options o where 1=1
        <if test="optionsID!=null">
            and optionsID=#{optionsID , jdbcType=VARCHAR}
        </if>
        <if test="optionsName!=null">
            and optionsName=#{optionsName , jdbcType=VARCHAR}
        </if>
        <if test="parentName!=null">
            and parentName=#{parentName , jdbcType=VARCHAR}
        </if>
    </select>

    <select id="selectPowerById" parameterType="java.util.Map" resultType="com.lianbi.entity.Power">
        select * from options where OptionsID=#{optionsID}
    </select>

    <select id="selectParentPower" parameterType="java.util.Map" resultType="com.lianbi.entity.Power">
        select * from options where OptionsPid=0;
    </select>

    <update id="updatePower" parameterType="com.lianbi.entity.Power">
        update options
        <set>
            <if test="optionsName!=null">
                OptionsName=#{optionsName, jdbcType=VARCHAR},
            </if>
            <if test="optionsPid!=null">
                OptionsPid=#{optionsPid, jdbcType=VARCHAR},
            </if>
            <if test="parentName!=null">
                ParentName=#{parentName, jdbcType=VARCHAR},
            </if>
            <if test="optionsSrc!=null">
                OptionsSrc=#{optionsSrc, jdbcType=VARCHAR},
            </if>
            <if test="optionCreatePer!=null">
                OptionCreatePer=#{optionCreatePer, jdbcType=VARCHAR},
            </if>
            <if test="optionUpdatePer!=null">
                OptionUpdatePer=#{optionUpdatePer, jdbcType=VARCHAR},
            </if>
            <if test="optionCreateDate!=null">
                OptionCreateDate=#{optionCreateDate, jdbcType=VARCHAR},
            </if>
            <if test="optionUpdateDate!=null">
                OptionUpdateDate=#{optionUpdateDate,jdbcType=TIMESTAMP}
            </if>
        </set>
        where OptionsID=#{optionsID, jdbcType=VARCHAR}
    </update>
</mapper>