<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!--<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://118.89.177.43:13306/study"/>
				<property name="username" value="study"/>
				<property name="password" value="~!@Study123"/>
			</dataSource>
		</environment>
	</environments>-->
	<!--<mappers>
		<mapper resource="com/lianbi/mapper/xml/StuMapper.xml"/>
	</mappers>-->
    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>